[submodule "Entities/thesdk"]
	path = Entities/thesdk
    url = git@github.com:TheSystemDevelopmentKit/thesdk.git
[submodule "thesdk_helpers"]
	path = thesdk_helpers
	url = git@github.com:TheSystemDevelopmentKit/thesdk_helpers.git
[submodule "Entities/rtl"]
	path = Entities/rtl
	url = git@github.com:TheSystemDevelopmentKit/rtl.git
