[submodule "Entities/thesdk"]
	path = Entities/thesdk
    url = git@github.com:TheSystemDevelopmentKit/thesdk.git
[submodule "thesdk_helpers"]
	path = thesdk_helpers
	url = git@github.com:TheSystemDevelopmentKit/thesdk_helpers.git
[submodule "Entities/rtl"]
	path = Entities/rtl
	url = git@github.com:TheSystemDevelopmentKit/rtl.git
[submodule "Entities/adder_tb"]
	path = adder_tb
	url = git@github.com:arsh02/adder_tb.git
[submodule "Entities/mul_tb"]
	path = mul_tb
	url = git@github.com:arsh02/mul_tb.git
